<nav class="navbar navbar-dark btn-success">
    <a class="navbar-brand" href="/">

        Eli Gomes da Silva

    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
            <!--herf ele aponta para rota-->
        </li> <!-- li = intem a class é para dizer que o item faz parte da navbar  -->
    </ul> <!-- ul = uma lista-->
</nav>