<nav class="navbar navbar-dark btn-success">
    <a class="navbar-brand" href="/">
        Eli Gomes
    </a>

    <ul class="navbar-nav d-flex flex-nowrap flex-row">
        <li class="nav-item">
            <a class="nav-link mr-5" href="/admin/categories">Categorias</a>
            <!--herf ele aponta para rota-->
        </li> <!-- li = intem a class é para dizer que o item faz parte da navbar  -->
        <li class="nav-item">
            <a class="nav-link mr-5" href="/admin/articles/new">
                Artigos
            </a>
        </li>
        
    </ul> <!-- ul = uma lista--> 
</nav>